<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.dtu.group22.beeware">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.unused.ForgotPassword"></activity>
        <activity android:name=".presentation.unused.CreateAccount" />
        <activity android:name=".presentation.Additions" />
        <activity android:name=".presentation.HiddenInterval" />
        <activity android:name=".presentation.Annotation" />
        <activity android:name=".presentation.unused.Login" />
        <activity android:name=".presentation.unused.PersonalSettings" />
        <activity android:name=".presentation.TestingHiveTool" />
        <activity android:name=".presentation.GraphActivity" />
        <activity android:name=".presentation.GraphViewModel" />
        <activity android:name=".presentation.unused.SubscribeHiveActivity" />
        <activity android:name=".presentation.SubscribeRecycler" />
        <activity android:name=".presentation.Overview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>