<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.dtu.group22.beeware">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name=".business.implementation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_beeware_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.Additions" />
        <activity android:name=".presentation.GraphIntervalHider" />
        <activity android:name=".presentation.Annotation" />
        <activity android:name=".presentation.TestingHiveTool" />
        <activity
            android:name=".presentation.GraphActivity"
            android:parentActivityName=".presentation.Overview"
            android:screenOrientation="landscape" />
        <activity android:name=".presentation.GraphViewModel" />
        <activity android:name=".presentation.SubscribeRecycler"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".presentation.Overview"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>